<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Schedule calendar events to automatically remind your contacts in advance of events and appointments </title>		<meta http-equiv="description" name="description" content="iSchedule247.com offers a free calendar that's beautifully simple that will automatically send emails and text message reminders to your friends, family, teammates, co-workers, etc.">		<meta http-equiv="keywords" name="keywords" content="event schedule, event scheduling, automatic reminders">		
		<meta name="robots" content="index,follow">
		<meta name="revisit-after" content="10 days">
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>
<body>
	<div id="container"> <!--Start Container-->
		<div id="header"> <!--Start Header-->
			<h1>Welcome Ken</h1>
			<div id="nav">
				<a href="##">Account Settings</a>
				<a href="##">Upgrade!</a>
				<a href="##">Logout</a> 
			</div>
		</div> <!--End Header-->
		<div id="content"> <!--Start Content-->
			<div id="left_col"> <!--Start Left Col-->
				<div class="mod">
					<div class="mod_top"></div>
					<h3>Legend</h3>
					<form>
					<ul>
						<li class="blue"><input type="checkbox">Storm Soccer</li>
						<li class="yellow"><input type="checkbox">Family</li>
						<li class="pink"><input type="checkbox">School Carpool</li>
						<li class="purple"><input type="checkbox">Rocket Baseball</li>
						<li class="green"><input type="checkbox">Snacks</li>
					</ul>
					</form>
					<a href="##" id="select_all">Select All</a>
					<a href="##" id="deselect_all">Deselect All</a>
				</div>
			</div> <!--End Left Col-->
			<div id="center_col"> <!--Start Center Col-->
				<div id="calendar">
					<div id="calendar_top"></div>
						<div id="text">
							<h2>A header here</h2>
							<p>iSchedule247.com provides an on-line calendar where you can set up events and automatically set intervals to send out email reminders or text/SMS reminders in the U.S. There is a free version that provide 1 category and a full version that provides 6 categories and support for up to 100 contacts. </p>
						</div>
					<div id="calendar_bottom"></div>
				</div>
			</div> <!--End Center Col-->
			<div id="right_col"> <!--Start Right Col-->
				<div class="mod">
					<div class="mod_top"></div>
						<h3>Contacts</h3>
						<div id="contacts">
							<form>
							<ul>
								<li class="blue"><input type="checkbox">Billy</li>
								<li><input type="checkbox">Joe</li>
								<li><input type="checkbox">Jim</li>
								<li><input type="checkbox">Bob</li>
								<li><input type="checkbox">Marry</li>
								<li><input type="checkbox">Jane</li>
								<li><input type="checkbox">Blow</li>
								<li><input type="checkbox">Job</li>
								<li><input type="checkbox">Harry</li>
							</ul>
							</form>
						</div>
					<a href="##" id="group"></a>
					<a href="##" id="add_user"></a>
					<a href="##" id="email"></a>
				<div class="clear"></div>
				</div>
				<div class="mod">
					<div class="mod_top"></div>
						<h3>Manual Message Launch</h3>
						<div id="message">
							<form>
							<ul>
								<li class="blue"><input type="checkbox">Storm Soccer</li>
								<li><input type="checkbox">Family</li>
								<li><input type="checkbox">School Carpool</li>
								<li><input type="checkbox">Rocket Baseball</li>
								<li><input type="checkbox">Snacks</li>
								<li><input type="checkbox">Family</li>
								<li><input type="checkbox">School Carpool</li>
								<li><input type="checkbox">Rocket Baseball</li>
								<li><input type="checkbox">Snacks</li>
							</ul>
							</form>
						</div>
					<a href="##" id="group"></a>
					<a href="##" id="add_user"></a>
					<a href="##" id="email"></a>
				</div>
			</div> <!--End Right Col-->
		<div class="clear"></div>
		</div> <!--End Content-->
		<div id="footer"> <!--Start Footer-->
			<span>Multi-notifying Calendar</span>
			<a href="##">FAQs</a><a href="##">Terms & Privacy</a>
		</div> <!--End Footer-->
	</div> <!--End Container-->
</body>
</html>