<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta http-equiv="description" name="description" content="">
		<meta http-equiv="keywords" name="keywords" content="">
		<meta name="robots" content="index,follow">
		<meta name="revisit-after" content="10 days">
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link rel="stylesheet" type="text/css" href="../css/styles.css" />
	</head>
<body>
	<div id="container"> <!--Start Container-->
		<div id="header"> <!--Start Header-->
			<h1>Welcome Ken</h1>
			<div id="nav">
				<a href="##">Account Settings</a>
				<a href="##">Upgrade!</a>
				<a href="##">Logout</a> 
			</div>
		</div> <!--End Header-->
		<div id="login_content"> <!--Start Content-->
			<div id="login_left">
				<h2>Login</h2>
				<form>
					<label>Email</label><br />
					<input type="text" name="email"><br />
					<label>Password</label><br />
					<input type="text" name="password"><br />
					<input type="submit" name="submit" value="Login" id="submit">
				</form>
			</div>
			<div id="login_right">
				<a href="##" id="sign_up_button"></a>
			</div>
		<div class="clear"></div>
		</div> <!--End Content-->
		<div id="footer"> <!--Start Footer-->
			<span>Multi-notifying Calendar</span>
			<a href="##">FAQs</a><a href="##">Terms & Privacy</a>
		</div> <!--End Footer-->
	</div> <!--End Container-->
</body>
</html>